.osimo-editor-wrap{
	padding: 5px 0 5px 0;
	width: 100%;
}

.osimo-editor-postbox{
	border: 1px #d2d2d2 solid;
	width: 100%;
	margin: 0;
	padding: 0;
}

.osimo-editor-controls-wrap{
	width: 100%;
	text-align: center;
	background-color: #f2f2f2;
	border-left: 1px #d2d2d2 solid;
	border-top: 1px #d2d2d2 solid;
	border-right: 1px #d2d2d2 solid;
	margin: 0;
	padding: 3px 0 3px 0;
}

.osimo-editor-controls-wrap img{
	padding: 2px;
	margin: 0;
	vertical-align: middle;
}

.osimo-editor-controls-content{
	text-align: center;
	margin: 0 auto 2px auto;
}

.osimo-editor-controls-content select{
	height:20px;
}

.osimo-editor-button{
	border: 1px #f2f2f2 solid;
	cursor: pointer;
}

.osimo-editor-button:hover{
	background-color: #d2d2d2;
	border: 1px #aaaaaa solid !important;
}

.osimo-editor-divider{
	margin: 0;
	padding: 0 !important;
}